* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    border: 0.5px solid #9e9e9e;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.card img {
    width: 250px;
    background-color: #ffffff;
    height: 200px;
    object-fit: cover;
    border-radius: 20% / 10%;
}

.card-info {
    text-align: center;
}

h1 {
    background-color: #000000;
    border-radius: 10% / 5%;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-info span {
    font-size: 0.85rem;
    color: #666;
}